body{
    font: bold 16px 'Arial', sans-serif; /* font-weight font-size font-family */
}

.all { /* all class is applied inside of the body tag, so flex-box can be applied */
    display: flex;
    flex-flow: column nowrap;
}

li {
    list-style: none; /* remove all lists icon*/
}

/*--------- navigation section ---------*/

header {
    display: flex;
    flex-flow: column nowrap;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 7vh;
}

.kreative-logo {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

nav {
    flex: 5 1 auto;
    display: flex;
    justify-content: space-around;
    font-size: 2vh;
}

.dotted-box {
    border-style: dotted;
    border-radius: 0.2rem;
}

.cart-logo {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    font-size: 3.5vh;
    margin-bottom: 1vh;
}

.kreative {
    height: 6vh;
}

.button {
    display: flex;
    margin-bottom: 1vh;
}

.inside_button {
    color: white;
    background-color: black;
    font-weight: bold;
    border-style: none;
    border-radius: 0.3rem;
    padding: 0.2rem 1rem; /* top/bottom, right/left */
}

.bars, .user_plus, .search_responsive, .cart-logo_responsive {
    display: none; /* bars will only be displayed in screens max-width: 500px */
}

/*--------- banner section ---------*/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 75vh;
    background: url(../IMG/book_ecommerce_gradient.png) center/cover; /* background-image, position/size */
    padding-top: 8vh;
    padding-bottom: 4vh;
    padding-left: 6vh;
    padding-right: 6vh;
}

.main_banner {
    flex: 10 1 auto; /* flex-grow, flex-shrink, flex-basis */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

.main_banner h1 {
    margin: 0px;
    font-family: 'Impact', sans-serif;
    font-size: 11vh;
    font-weight: lighter; 
    text-align: center; 
    padding: 0rem 22rem;
}

.savings_banner {
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    padding-top: 1.5vh;
} 

.half_highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #ffec48 50%); /* adds transparency on top and color below, so fonts highligts are +/- half the font height */
}

.shopnow {
    width: 8rem;
    height: 3.5vh;
    font-size: 2vh;
    padding: 0vh;
}

/*--------- main section ---------*/
main {
    display: flex;
    flex-direction: column;
}

/*--------- most popular section ---------*/

.most_popular {
    padding: 0vh 3vw; /* top/bottom, right/left  */
}

.article_mostpopular, .article_allcategories {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-top: 4vh;
    padding-bottom: 0.8vh;
    font-size: 2vh;
}

.title_mostpopular, .title_allcategories {
    flex: 1 1 auto; /* flex-grow, flex-shrink, flex-basis */ 
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.bottom_line { /* black division line for "most popular" and "all categories" */
    border-bottom: 0.07rem solid black;
    flex: 15 1 auto; /* the black lines will grow 15x times in both texts "most popular" and "all categories" */
}

.popular_books {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.width-image { 
    max-height: 18rem; /* height is the basis, width can be any size depending on the image */
}

h4, h5, ul, .covertype {
    margin: 0rem;
    padding: 0rem;
}

.each_book {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dotted;
    border-width: 0.1rem; 
    max-width: 15rem;
    max-height: 30rem;
    margin: 0.8rem;
    padding: 0.2rem;
}

.info_book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    flex-basis: 150px; /* height in px, works ok in responsive mode */
    width: 220px; /* width in px, works ok in responsive mode */
}

.book_title {
    padding-bottom: 0.2rem;
}

.book_star_price {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.each_book h4 {
    font-size: 1rem;
}

.lighter_font {
    font-weight: lighter;
}

.lightgrey_font {
    color: rgb(94, 93, 93);
    font-weight: normal;
    font-size: 0.9rem;
}

.cover_money {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.covertype  {
    line-height: 1.6; /* space between each <p> */ 
}

.book_star_price li:before { /* change and style categories list icon */
    content: "\1F7CA"; /* change and style categories list icon https://www.compart.com/en/unicode */
    margin-right: 0.1rem; /* distance between icon and font */
    color: rgb(255, 208, 0);
    font-size: xx-large; /* change icon size, original dotted circle too small */
    vertical-align: -15%; /* center icon with fonts */
}

/*--------- all categories section ---------*/

.all_categories {
    padding: 0vh 3vw;
}

.categories_list {
    display: flex;
    justify-content: center;
}

.categories_list ul {
    padding: 2vh 2vw;
    font-size: 2vh; /* decreases font's height */
    font-size: 1vw; /* while decreasing font's width */
}

.categories_list li:not(:last-child) { /* only the last items list do not have margin-bottom */
    margin-bottom: 1vh; 
}

.categories_list li:before { /* change and style categories list icon */
    content: "\25CC"; /* change and style categories list icon https://www.compart.com/en/unicode */
    margin-right: 0.4vw; /* distance between icon and font */
    font-size: 6vh; /* change icon size vertical, original dotted circle too small */
    font-size: 3vw; /* change icon size horizontal  */ 
    vertical-align: -0.9vh; /* center icon with fonts */
}


/*--------- subscribe section ---------*/

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../IMG/book_ecommerce_gradient.png) center/cover; /* background-image, position/size */
    flex-basis: 40vh; /* establish image's height - viewport */
    margin-top: 5vh;
}

.subscribe h3 {
    font-size: 4vh;
    margin-top: 15vh;
    margin-bottom: 0vh;
}

.subscribe p {
    font-size: 2vh;
    margin-top: 0.8vh;
    margin-bottom: 3vh;
}

.text_mail{
    width: 20rem;
    height: 2.5vh;
}

.button_mail {
    width: 7rem;
    height: 3.5vh;
    font-size: 2vh;
    padding: 0vh;
}

/*--------- footer section ---------*/

footer {
    background-color: black;
    color: white;
}

.small_logo, .social_media, small {
    display: flex;
    justify-content: center;
}

.small_logo img {
    padding-top: 3.5vh;
    height: 6vh;
}

.support_services {
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

.support_services ul {
    padding: 2vh 4vw;
    font-size: 1.4vh;
}

.support_services li:first-child { /* Makes lists title bold */ 
    font-weight: bold;
    font-size: 2vh;
}

.support_services li:not(:last-child) { /* selects all items of the list, except the last item (:last-child) */
    margin-bottom: 1.5vh; 
}

.social_media i {
    height: 2vh;
    padding: 1.5vh 2vw;
    font-size: 3.5vh; /* awesome fonts - use font-size to increase size */ 
}

small{
    color: rgb(77, 77, 77);
    padding-top: 2vh;
    padding-bottom: 4vh;
    font-size: 1.3vh;
}

/*--------- media queries ---------*/

@media all and (max-width: 1200px) {
    .all_categories {
        display: none;        
    }

    .off {
        display: none;
    }

    nav {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 11vh;
    }

    .responsive_menu_logos {
        display: flex;
        padding-bottom: 2vh;
    }

    .cart-logo_responsive, .search_responsive, .user_plus, .bars {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 2.7vh;
        margin: 0.5vw 1vw;
    }
}

@media all and (max-width: 1050px) {
    .banner {
        flex-basis: 0vh; /* banner stops decreasing it's height */
    }

    .main_banner {
        font-size: 1.8vh;
    }

    .main_banner h1 {
        font-size: 8.5vh;
    }

    .button_mail {
        width: 9rem;
    }

    .shopnow {
        font-size: 1.5vh;
    }
}

@media all and (max-width: 700px) {
    .subscribe article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button_mail {
        margin-top: 0.5rem;
        width: 6rem;
    }
}

@media all and (max-width: 500px) {
    .main_banner {
        font-size: 1.5vh;
    }

    .main_banner h1 {
        font-size: 7vh;
    }

    .support_services li:not(:first-child) {
        display: none;
    }

    .savings_banner {
        font-size: 2vh;
    } 

    .shopnow {
        width: 5rem;
        font-size: 1.5vh;
    }

    .button_mail {
        margin-top: 0.5rem;
    }

    .text_mail{
        width: 15rem;
    }
}

@media all and (max-width: 400px) {

    .kreative-logo, .kreative {
        padding: 0px 0px;
    }

    .savings_banner {
        font-size: 1.5vh;
    } 

    .text_mail{
        width: 13rem;
    }

    .support_services {
        display: none;
    }
}

@media all and (max-width: 300px) {
    .support_services {
        display: none;
    }
}


